<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header my-4 text-center">
                    <h4>Lista de Operaciones Realizadas</h4>
                    <br>
                    <app-searcher [searchOptions]="searchOptions" [list]="listOperations" (listFilteredOutput)="changeListForSearch($event)"></app-searcher>
                </div>
                <div class="card-body my-4">
                    <app-paginator [list]="listOperationsFilteredByKey" (listTransformedOutput)="changeListForPaginator($event)"></app-paginator>
                    <div class="card mb-2 shadow" *ngFor="let operation of listOperationsFiltered; let i = index " >
                        <div class="card-body  " >
                            <div class="row justify-content-center align-items-center">
                                <div class="col">
                                    <h6>
                                        {{operation.registerDate | date}} 
                                    </h6>
                                    
                                </div>
                                <div class="col">
                                    <h6>{{operation.description}} </h6>
                                    
                                </div>
                                <div class="col d-flex">

                                    <i class="fa-solid fa-angles-down text-danger me-2" *ngIf="operation.typeOperationId == 2"></i>
                                    <i class="fa-solid fa-angles-up text-success me-2" *ngIf="operation.typeOperationId == 1"></i>
                                    <h6>{{operation.amount | currency:'RD$'}}</h6>
                                </div>  
                                <div class="col">
                                    <div class="d-flex justify-content-center align-items-center " >
                                        <!-- <button class="text-warning btn shadow me-2" *ngIf="operation.typeOperationId == 1" [routerLink]="['register-income',1,operation.id]">
                                            <i class="fa-solid fa-pen-to-square fa-xl"></i>
                                        </button>
                                        <button class="text-warning btn shadow me-2" *ngIf="operation.typeOperationId == 2" [routerLink]="['register-expense',1,operation.id]">
                                            <i class="fa-solid fa-pen-to-square fa-xl"></i>
                                        </button> -->
                                        <button class="text-danger btn shadow me-2" (click)="deleteOperation(operation)">
                                            <i class="fa-solid fa-trash-can fa-xl"></i>
                                        </button>
                                        
                                    </div>
                                </div>  
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>