<div class="sidebar-nav">
    <nav class="navbar navbar-dark bg-dark ">
        <div class="container-fluid">
            <!-- Mobile Menu Toggle Button -->
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <button class="navbar-toggler" type="button" (click)="navigateHome()">
                <i class="fa-solid fa-house"></i>
            </button>
            <!-- Menus List -->
            <!-- <div class="offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-body">
                    <ul class="navbar-nav">
                        <li><a href="#"><i class=""></i> <span class="">Registrar Ingreso</span></a></li>
                        <li><a href="#"><i class=""></i> <span class="item-text">Registrar Gasto</span></a></li>
                        <li><a href="#"><i class=""></i> <span class="item-text">Operaciones Realizadas</span></a></li>
                    </ul>
              </div>
            </div> -->
            <div class="btn-group">
                <a class=" text-white text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="usericon"><i class="bi bi-person-circle"></i></span>
                    <span class="textnone">Jofreylin Perez Valdez - Curso Angular ITLA</span>
                </a>
            </div>
        </div>
    </nav>
  </div>